@import 'header.scss';
@import 'footer.scss';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.image {
  height: 800px;
  width: 800px;
  border: solid gray 1px;
  background-image: url(/img/Background/image3.png);
}